body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9ecef;
}

header {
    background-color: #0C263B;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h1 {
    margin: 0;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas de largura igual */
    gap: 20px; /* Espaço entre os itens da grade */
    padding: 20px;
}

.model-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.model-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

model-viewer {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    background-color: #f0f0f0;
}

p {
    margin: 10px 0 0;
    font-weight: bold;
    color: #0C263B;
}

main {
    padding: 60px; /* Adiciona padding ao redor da galeria */
}


.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.page-button {
    background-color: #0C263B;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
}

.page-button:hover {
    background-color: #0A1A28;
}
